<div class="legal">
  <div class="copyright">
      &copy; 2020 <a href="http://townflow.io"><%= TownflowApp::NAME %></a>.
  </div>
  <div class="version">
      <b>Version: </b> <%= TownflowApp::VERSION %>
  </div>
</div>